<div class="registration-form">
  <form [formGroup]="passwordForm">
    <div class="form-icon">
      <span><i class="bi bi-key"></i></span>
    </div>
    <h2 class="text-white text-center">Reset Password </h2>
    <br/>
    <div *ngIf="!isValid" class="alert alert-warning">
      <h4>Something went Wrong!</h4>
      <h5>cannot reset your password. Please make sure the link is not expired. </h5>
      <h5>you should request another link to complete password reset process</h5>
    </div>
    <div *ngIf="isValid" class="form-group">
      <input type="password" formControlName="password" class="form-control item" id="username"
             placeholder="New Password"
             style="background-color: #282f34;color: white">
    </div>
    <div *ngIf="isValid" class="form-group">
      <input type="password" formControlName="confirmPassword" class="form-control item" id="password"
             placeholder="Confirm Password"
             style="background-color: #282f34;color: white">
    </div>
    <br/>
    <small *ngIf="checkPass()" class="text-danger">
      * Password Does not match
    </small>
    <div *ngIf="isValid" class="form-group">
      <button type="submit" class="btn btn-block create-account"
              [class.disabled]="checkPass() || passwordForm.invalid || isSameLength()" (click)="resetPassword()">Change
        Password
      </button>
    </div>
    <div *ngIf="!isValid" class="form-group">
      <button type="submit" class="btn btn-block create-account" routerLink="/forget-password">Request Another Link
      </button>
    </div>
    <br/>
  </form>

</div>
