<div class="registration-form">
  <form [formGroup]="passwordForm">
    <div class="form-icon">
      <span><i class="bi bi-key"></i></span>
    </div>
    <h2 class="text-white text-center">Change Password</h2>
    <div class="form-group">
      <input formControlName="currentPassword" type="password" class="form-control item" id="password1"
             placeholder="Current Password"
             style="background-color: #282f34;color: white">
    </div>
    <div class="form-group">
      <input formControlName="password" type="password" class="form-control item" id="password2"
             placeholder="New Password"
             style="background-color: #282f34;color: white">
    </div>
    <div class="form-group">
      <input formControlName="confirmPassword" type="password" class="form-control item" id="password3"
             placeholder="Confirm Password"
             style="background-color: #282f34;color: white">
      <small *ngIf="checkPass()" class="text-danger">
        * Password Does not match
      </small>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-block create-account"
              [class.disabled]="checkPass() || passwordForm.invalid || isSameLength()" (click)="changePassword()">Change
        Password
      </button>
    </div>
    <br/>
  </form>
</div>
