<section id="learn" class="p-lg-5 p-md-5 m-lg-5">
  <div class="container text-white">
    <div class="row align-items-center justify-content-between">
      <div class="col-md">
        <img src="assets/images/undraw_contact_us_-15-o2.svg" class="img-fluid"
             alt=""/>
      </div>
      <div class="col-md p-5">
        <h2 class="fw-bold">Do you need help?</h2>
        <br/>
        <p class="lead fw-bold">
          Contact us on our only official telegram account
        </p>
        <p>
        </p>
        <a routerLink="/" class="btn btn-light mt-3 m-2 ">
          <i class="bi bi-chevron-left"></i>Back Home
        </a>
        <a target="_blank" href="https://t.me/MindsTradeChannel" class="btn m-2 btn-primary mt-3 ">
          <i class="bi bi-telegram"></i>Telegram
        </a>
      </div>
    </div>
  </div>
</section>
<br/>
<br/>
<br/>
