<div class="col-12 col-lg-2 col-md-6">
  <label for="selec">Status: </label>
  <select class="form-select bg-dark text-white" id="selec" aria-label="Default select example"
          (change)="changeStatus()" [(ngModel)]="status">
    <option value="All">All</option>
    <option value="Running" class="text-info">Running</option>
    <option value="Finished" class="text-success">Finished</option>
    <option value="Canceled" class="text-danger">Canceled</option>
  </select>

</div>

<br/>
<div class="table-responsive">

  <h5>Investments List</h5>
  <table class="table table-dark table-striped  table-bordered table-responsive">

    <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Plan</th>
      <th scope="col">Amount</th>
      <th scope="col">Total Profit</th>
      <th scope="col">Next Profit in</th>
      <th scope="col">Status</th>
      <th scope="col">UserName</th>
      <th scope="col">Details</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let i of investment?.items">
      <tr>
        <td>{{i.id}}</td>
        <td>{{i.startDate | date :'dd/MM/yyyy, h:mm a'}}</td>
        <td>{{i.endDate | date :'dd/MM/yyyy'}}</td>
        <td class="fw-bolder ">{{i.plan}}</td>
        <td class="fw-bolder text-warning">{{i.amount}}</td>
        <td class="fw-bolder text-success">{{i.totalProfit?.toFixed(2)}}</td>
        <td *ngIf="i.nextProfitEarningDate === null">-</td>
        <td *ngIf="i.nextProfitEarningDate !== null">{{timeDiffCalc(i.nextProfitEarningDate!)}}
          <div class="progress">
            <div class="progress-bar  progress-bar-striped progress-bar-animated" role="progressbar"
                 [attr.aria-valuenow]="i.percent"
                 aria-valuemin="0" aria-valuemax="100"
                 [style.width]="i.percent+'%'">{{i.percent}}%
            </div>
          </div></td>
        <td class="fw-bolder">
          <div class="text-center" [className]="getStatusBg(i.status!)">
            <p class="text-center ">{{i.status}}</p>
          </div>
        </td>
        <td class="fw-bolder ">{{i.userName}}</td>
        <td class="text-center">
          <i class="bi bi-info-lg btn-outline-secondary  p-1" style="cursor: pointer; font-size: 1.2rem"
             (click)="getDetails(i.id)" data-bs-toggle="modal"
             title="Details"
             data-bs-target="#investmentDetails"></i>

          <i *ngIf="(i.status === 'Canceled' || i.status ==='Finished') && authService.isAdmin2() "
             class="bi bi-pencil-square disabled btn-outline-secondary m-1 p-1"
             style="font-size: 1.2rem"
          ></i>

          <i *ngIf="i.status === 'Running' && authService.isAdmin2()" class="bi bi-pencil-square  btn-outline-secondary m-1 p-1"
             title="Edit"
             style="cursor: pointer;font-size: 1.2rem"
             data-bs-toggle="modal"
             data-bs-target="#editInvestment"
             (click)="cancelInvestmentIcon(i.id)"></i>

        </td>
      </tr>
    </ng-container>

    </tbody>
    <caption>Total investments : {{investment?.totalCount}}</caption>
  </table>
</div>


<div class="modal fade" id="editInvestment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="stBackdropLabel">Cancel Investment</h5>
        <button type="button" class="btn-close bg-secondary text-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div *ngIf="!isCanceled" class="modal-body">
        <div class="alert alert-danger">
          <p>Note if you cancel the investment you cannot change the status any more! it will be canceled forever</p>
        </div>

        <label for="cancelStatus">Status : </label>
        <select [(ngModel)]="cancelSelect" class="form-select bg-dark"
                [ngClass]="{'text-white': cancelSelect ==='select','text-danger':cancelSelect ==='canceled'}"
                id="cancelStatus" aria-label="Default select example">
          <option value="select" class="text-white" selected disabled>Select</option>
          <option value="canceled" class="text-danger">Canceled</option>
        </select>
        <br/>
        <br/>
        <input [(ngModel)]="confirmCancel" type="text" placeholder="Confirm" class="form-control bg-dark text-white">

        <span>Please Type "<span class="fw-bolder text-danger">Confirm Cancel</span>" to cancel the investment</span>
      </div>
      <div *ngIf="isCanceled" class="modal-body">
        <div class="alert alert-success">
          <p>Investment Canceled</p>
        </div>
      </div>
      <div *ngIf="!isCanceled" class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="cancelInvestment()"
                [class.disabled]="confirmCancel !== 'Confirm Cancel'">Save
        </button>

      </div>
      <div *ngIf="isCanceled" class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="investmentDetails" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Investment Details</h5>
        <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <br>
        <h5>Investment Transactions</h5>
        <div class="table-responsive">
          <table class="table table-dark  table-striped table-bordered ">
            <thead class="table-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Date</th>
              <th scope="col">Type</th>
              <th scope="col">Amount</th>
              <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let t of investmentDetails?.transactions">
              <tr>
                <td>{{t.id}}</td>
                <td>{{t.created | date :'dd/MM/yyyy, h:mm:ss a'  }}</td>
                <td>{{getNewStatusName(t.type!)}}</td>
                <td class="fw-bold" [class.text-danger]="t.amount! <0"
                    [class.text-success]="t.amount! >0">{{t.amount! > 0 ? '+' : ''}}{{t.amount?.toFixed(2)}}</td>
                <td class="fw-bolder">
                  <div class="text-center" [className]="getStatusBgClass(t.status!)">
                    <p class="text-center">{{t.status}}</p>
                  </div>

                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>


        <h5>Investment Profits</h5>
        <div class="table-responsive">
          <table class="table table-dark  table-striped table-bordered ">
            <thead class="table-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Date</th>
              <th scope="col">Amount</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let t of investmentDetails?.investmentsProfits">
              <tr>
                <td>{{t.id}}</td>
                <td>{{t.created | date :'dd/MM/yyyy, h:mm:ss a'  }}</td>
                <td class="fw-bold" [class.text-danger]="t.amount! <0"
                    [class.text-success]="t.amount! >0">{{t.amount! > 0 ? '+' : ''}}{{t.amount}}</td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<nav aria-label="Page navigation example" class=" pb-5 border-0">
  <ul class="pagination border-0 justify-content-center ">

    <li class="page-item bg-dark" [class.disabled]="!investment?.hasPreviousPage">
      <a class="page-link bg-dark border-0" tabindex="-1" aria-disabled="true" [routerLink]=[]
         [queryParams]="{page:investment.pageIndex-1!}"> <i class="bi bi-chevron-left"></i> Previous</a>
    </li>

    <li class="page-item " routerLinkActive="active" *ngIf="investment.hasPreviousPage">
      <a [routerLink]=[]
         [queryParams]="{page:investment.pageIndex -1}"
         class="page-link bg-dark border-0">{{investment.pageIndex - 1}}</a>
    </li>
    <li class="page-item" routerLinkActive="active">
      <a [routerLink]=[]
         [queryParams]="{page:investment.pageIndex}"
         class="page-link bg-dark border-0">{{investment.pageIndex}}</a>
    </li>
    <li class="page-item" routerLinkActive="active" *ngIf="investment.hasNextPage">
      <a [routerLink]=[]
         [queryParams]="{page:investment.pageIndex+1}"
         class="page-link bg-dark border-0">{{investment.pageIndex + 1}}</a>
    </li>
    <li class="page-item" [class.disabled]="!investment.hasNextPage">
      <a class="page-link bg-dark border-0" [routerLink]=[] [queryParams]="{page:investment.pageIndex+1}">Next <i
        class="bi bi-chevron-right"></i></a>
    </li>
  </ul>
</nav>
