<div class="container padding-bottom-3x mb-2 mt-5 ">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <div class="forgot bg-dark text-white">
        <h2>Forgot your password?</h2>
        <p>Change your password in four easy steps. This will help you to secure your password!</p>
        <ol class="list-unstyled">
          <li><span class="text-primary text-medium">1. </span>Enter your email address below.</li>
          <li><span class="text-primary text-medium">2. </span>Our system will send you a temporary link</li>
          <li><span class="text-primary text-medium">3. </span>Use the link to reset your password</li>
          <li><span class="text-danger fw-bolder">4. Don't share the link with anyone</span></li>
        </ol>
      </div>
      <div *ngIf="isDone" class="card mt-4 bg-dark text-white">
        <div class="card-body">
          <div class="alert alert-info">
            <h4> Email Has been sent successfully <i class="bi bi-check2-circle"></i></h4>
            <small>Please check spam or promotions if you can't find the email on inbox</small>
          </div>
        </div>
        <div class="card-footer bg-dark  text-white">
          <button class="btn btn-secondary m-1 " routerLink="/login">Back to Login</button>
          <button class="btn btn-primary m-1 " routerLink="/">Home</button>
        </div>
      </div>
      <form *ngIf="!isDone" class="card mt-4 bg-dark text-white" [formGroup]="resetForm">
        <div class="card-body">
          <div class="form-group bg-dark text-white"><label for="email-for-pass">Enter your email address</label>
            <input formControlName="email" class="form-control bg-dark text-white" type="text" id="email-for-pass"
                   required="">
            <small class="form-text text-muted">Enter
              the email address you used during the registration. Then we'll email a link to this
              address.</small></div>
        </div>
        <div class="card-footer bg-dark  text-white">
          <button class="btn btn-secondary m-1 " routerLink="/login">Back to Login</button>
          <button class="btn btn-primary m-1" type="submit" (click)="requestResetPassword()"
                  [class.disabled]="resetForm.invalid">Get New Password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

